<!-- MAIN CONTENT SECTION -->
<section id="content" >
    <section ng-show="isLoggedIn()" class="clearfix section">
        <h3 class="block-title" style="color: black" >Réservations</h3>
        <div reservations class="tile black htmltile w3 h4">
        </div>
    </section>
    <!-- /SECTION -->
    <!-- SECTION -->
    <section  ng-show="isLoggedIn()" class="clearfix section" id="animationform" >
        <div >
            <!-- SECTION TITLE -->
            <h3 class="block-title" style="color: black">Animation</h3>
            <!-- /SECTION TITLE -->

            <!-- SECTION TILES -->
            <div class="tile black htmltile w3 h4">
                <div class="tilecontent">
                    <div class="content">

                        <div class="hide textcenter" id="messagesuccess">
                            <br/><br/><br/>
                            <h1>Thank you! <a class="icon-envelope"></a></h1>
                            <br/><br/><br/>
                            <h3>Your message has been sent.</h3>
                            <br/><br/><br/><br/><br/>
                        </div>

                        <div id="messageload" class="hide textcenter">
                            <h3>Sending</h3><br/>
                            <img src="/img/preloader.gif" alt="..."/>
                        </div>

                        <form ng-submit="addAnimations()" class="form-dark"  >
                            <div class="row-fluid">
                                <label>Titre </label>
                                <input id="titre" name="titre" type="text" class="span12" placeholder="Titre de l'animation "ng-model="titre" required>
                            </div>

                            <div class="row-fluid">
                                <label>Type d'animation</label>
                                <select id="subject" name="subject" class="span12" ng-model="typeAnim" required>
                                    <option selected value="Bateau">Bateau</option>
                                    <option value="Spectacle">Spectacle</option>
                                    <option value="Restauration">Restauration</option>
                                    <option value="Autre">Autre</option>
                                </select>
                            </div>

                            <div class="row-fluid">
                                <label>Description </label>
                                <textarea  ng-model="descriptif" name="description" placeholder="Description de l'animation "id="description" class="input-xlarge span12" rows="4" ></textarea>
                            </div>

                            <div class="row-fluid">
                            </div>
                            <label>Date de l'animation</label>
                            <input type="date" name="jour" min="2016-07-13" max="2016-07-19" ng-model="date" required>

                            <div class="control-group">
                                <label class="control-label" for="fileInput">Lien image </label>
                                <div class="controls">
                                    <input ng-model="imgPath" type="text" required/>
                                </div>
                            </div>
                            <div class="accordion" id="accordionOption">
                                <!-- ajout des options avec du jkiri -->
                            </div>
                            <button addanimation type="button" class="btn btn-lg btn-primary btn-add-panel">
                                Ajouter une option
                            </button>

                            <br><br>
                            <div class="row-fluid">
                                <button type="submit" class="btn btn-primary btn-block pull-right" >Enregister</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /SECTION TILES -->
        </div>
    </section>
    <!-- SECTION CREATION D'UTILISATEUR -->
    <section ng-show="isLoggedIn()" ng-controller="AuthCtrl" class="clearfix section" id="creationform">
        <div >
            <h3 class="block-title" style="color: black" >Création d'utilisateur</h3>

            <div class="tile black htmltile w3 h2">
                <div class="tilecontent">
                    <div class="content">

                        <div ng-show="error" class="alert alert-error">
                            <span>{{ error.message }}</span>
                        </div>

                        <div ng-show="success" class="alert alert-success">
                            <span>Utilisateur bien ajouté</span>
                        </div>

                        <form ng-submit="register()" class="form-dark">
                            <div class="row-fluid">
                                <input ng-model="user.nom" type="text" class="span12" placeholder="Nom de l'utilisateur">
                            </div>
                            <div class="row-fluid">
                                <input ng-model="user.code" type="text" class="span12" placeholder="Code de l'utilisateur">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block pull-right">Créer l'utilisateur</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SECTION -->

    <section class="clearfix section" id="portfolio" data-option-key="filter">

        <!-- SECTION TITLE -->
        <h3 class="block-title" style="color: black">Critères</h3>
        <!-- /SECTION TITLE -->

        <!-- SECTION TILES -->
        <div class="tile turquoise icon-featurefade w1 h1">
            <a class="link" href="#" data-option-value="*" >
                <i class="icon-list icon-4x"></i>
                <p class="title">Toutes</p>
            </a>
        </div>

        <div class="tile yellow icon-featurefade w1 h1">
            <a class="link" href="#" data-option-value=".Bateau">
                <i class="icon-compass icon-4x"></i>
                <p class="title">Bateau</p>
            </a>
        </div>

        <div class="tile blue icon-featurefade w1 h1">
            <a class="link" href="#" data-option-value=".Restauration">
                <i class="icon-food icon-4x"></i>
                <p class="title">Restauration</p>
            </a>
        </div>

        <div class="tile red icon-featurefade w1 h1">
            <a class="link" href="#" data-option-value=".Spectacle">
                <i class="icon-music icon-4x"></i>
                <p class="title">Spectacle</p>
            </a>
        </div>

        <div class="tile red icon-featurefade w1 h1">
            <a class="link" href="#" data-option-value=".Autre">
                <i class="icon-flag icon-4x"></i>
                <p class="title">Autre</p>
            </a>
        </div>
        <!-- SECTION -->


    </section>
    <!-- /SECTION -->

    <section class="clearfix section" id="gallery">

        <!-- SECTION TILES -->

        <% for(var i=0; i<animations.length; i++) {%>
        <div tuile  idAnim="<%= animations[i]._id %>" class="tile <%= animations[i].typeAnim %> imagetile imagetile-overlay imagetile-scaledown w2 h1 title-indent">
            <a  href="#galleryimage" data-lightbox="mlightboximage" class="link"
               data-src=<%= animations[i].imgPath %>" data-title="" data-description= "">
                <i class="icon-4x"></i>
                <img src="<%= animations[i].imgPath %>" alt=""  />
                <p class="title"><%= animations[i].titre %>
                </p>

            </a>
        </div>
        <% } %>


        <!-- /SECTION TILES -->

    </section>


</section>

<!-- /MAIN CONTENT SECTION -->